section.banner.page-section
  .banner--background
  article.banner--content
    h2.title Guilherme Gois
    p.text Desenvolvedor, apreciador de um bom café e todo o mais relacionado ao fluxo de desenvolvimento.
  .banner--overlay
  .banner--scroll
