section.banner.page-section
  .banner--background
  article.banner--content
    h2.title Guilherme Gois
    p.text Desenvolvedor Gorila, apreciador de um bom café, tarado por códigos bonitos, e apaixonado por essa menina aí! =p
  .banner--overlay
  .banner--scroll
