header.header-fixed
  h1.header-fixed--title   DEVGOIS  
  nav
    ul
      li
        a(href="#") Início
      li
        a(href="#") Sobre
      li
        a(href="#") Hard Skills
      li
        a(href="#") Soft Skills
      li
        a(href="#") Contato
