div(class="szene")
  div(class="image animate")
    div(class="line begin html")
      <HTML>
    div(class="line begin head")
      <HEAD>
    div(class="line title")
      <TITLE>DEVGOIS</TITLE>
    div(class="line end head")
      </HEAD>
    div(class="line begin body")
      <BODY>
    div(class="line body text")
      div(class="uilding...")
    div(class="line end body")
      </BODY>
    div(class="line end html")
      </HTML>
  div(class="people head")
    div(class="eyes")
  div(class="people body")
    div(class="right-arm")
      div(class="sleeve")
  div(class="table")
  div(class="laptop")
  div(class="mouse")
  div(class="notes")
  div(class="lamp")
    div(class="top")
  div(class="headphones")
  div(class="trash")
    div(class="paper p1")
    div(class="paper p2")
    div(class="paper p3")
    div(class="paper p4")

  //
    <script src="js/under-construction.js"></script>
