-
    var social = [
        { className: 'mail', link: 'mailto:guilherme.gois@devgois.com' },
        { className: 'facebook', link: 'https://www.facebook.com/guilhermejcgois/' },
        { className: 'github', link: 'https://github.com/guilhermejcgois/' },
        { className: 'twitter', link: 'https://twitter.com/guilhermejcgois/' },
        { className: 'instagram', link: 'https://www.instagram.com/guilhermejcgois/' },
        { className: 'codepen', link: 'https://www.instagram.com/guilhermejcgois/' },
        { className: 'linkedin', link: 'https://www.linkedin.com/company/guilhermejcgois/' }
    ];

footer
  .credits Based on a codepen by 
    a(href="https://codepen.io/oknoblich/details/jfJmy") Oliver Knoblich
  .social
    ul
      each item in social
        li(class=item.className)
          a(href=item.link) #{item.name}

div(class="szene")
  div(class="image animate")
    div(class="line begin html")
      = '<HTML>'
    div(class="line begin head")
      = '<HEAD>'
    div(class="line title")
      = '<TITLE>DEVGOIS</TITLE>'
    div(class="line end head")
      = '</HEAD>'
    div(class="line begin body")
      = '<BODY>'
    div(class="line body text")
      = 'Building...'
    div(class="line end body")
      = '</BODY>'
    div(class="line end html")
      = '</HTML>'
  div(class="people head")
    div(class="eyes animate")
  div(class="people body")
    div(class="right-arm wave")
      div(class="sleeve")
  div(class="table")
  div(class="laptop")
  div(class="mouse")
  div(class="notes")
  div(class="lamp")
    div(class="top")
  div(class="headphones")
  div(class="trash")
    div(class="paper p1")
    div(class="paper p2")
    div(class="paper p3")
    div(class="paper p4")

  //
    <script src="js/under-construction.js"></script>
