@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,100,500,300italic,500italic,700italic,900,300);

$footer-size: 40px;
$letter-lenth: 11px;
$eyes-delay: 6s;
$wave-delay: 11s;
$wave-duration: 3s;
$wave-time: 5s;
$line-margin: 8px;
$ident-0-margin: 0;
$ident-1-margin: $letter-lenth;
$ident-2-margin: $ident-1-margin * 2;
$speed-factor: 1.5;
$caret-duration: 1s / $speed-factor;
$html-delay: $caret-duration;
$html-duration: 6s / $speed-factor;
$html-steps: 6;
$html-steps-caret: $html-steps;
$html-from-width: 0;
$html-to-width: $letter-lenth * $html-steps;
$head-delay: $html-delay + $html-duration + $html-delay;
$head-duration: 6s / $speed-factor;
$head-steps: 7;
$head-steps-caret: $head-steps + 5;
$head-from-width: 0;
$head-to-width: $letter-lenth * $head-steps;
$title-delay: $head-delay + $head-duration + $html-delay + $wave-duration;
$title-duration: 22s / $speed-factor;
$title-steps: 24;
$title-steps-caret: $title-steps - 1;
$title-from-width: 0;
$title-to-width: $letter-lenth * $title-steps;
$head-end-delay: $title-delay + $title-duration + $html-delay;
$head-end-duration: 7s / $speed-factor;
$head-end-steps: 8;
$head-end-steps-caret: $head-end-steps;
$head-end-from-width: 0;
$head-end-to-width: $letter-lenth * $head-end-steps;
$body-delay: $head-end-delay + $head-end-duration + $html-delay;
$body-duration: 6s / $speed-factor;
$body-steps: 7;
$body-steps-caret: $body-steps;
$body-from-width: 0;
$body-to-width: $letter-lenth * $body-steps;
$body-text-delay: $body-delay + $body-duration + $html-delay;
$body-text-duration: 11s / $speed-factor;
$body-text-steps: 13;
$body-text-steps-caret: $body-text-steps - 1;
$body-text-from-width: 0;
$body-text-to-width: $letter-lenth * $body-text-steps;
$body-end-delay: $body-text-delay + $body-text-duration + $html-delay;
$body-end-duration: 7s / $speed-factor;
$body-end-steps: 8;
$body-end-steps-caret: $body-end-steps;
$body-end-from-width: 0;
$body-end-to-width: $letter-lenth * $body-end-steps;
$html-end-delay: $body-end-delay + $body-end-duration + $html-delay;
$html-end-duration: 6s / $speed-factor;
$html-end-steps: 8;
$html-end-steps-caret: $html-end-steps;
$html-end-from-width: 0;
$html-end-to-width: $letter-lenth * $html-end-steps;

.szene {
  position: absolute;
  left: 50%;
  bottom: $footer-size;
  width: 800px;
  height: 400px;
  margin-left: -400px;
  overflow: hidden;
}

.szene div {
  position: absolute;
}

.image {
  top: 30px;
  left: 100px;
  width: 460px;
  height: 200px;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4rem;
  color: #888;
  border: 8px solid #444;
  background: #eee;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 1fr);
}
.image:not(.animate) .line { display: none; }
.line { grid-column: 1; margin-left: $line-margin; }
.line.html { padding-left: $ident-0-margin; }
.line.head { padding-left: $ident-1-margin; }
.line.title { padding-left: $ident-2-margin; }
.line.body { padding-left: $ident-1-margin; }
.line.body.text { padding-left: $ident-2-margin; }

@keyframes caret {
  from { border-right: transparent; }
  to { border-right: 1px solid rgba(0,0,0,.75); }
}
.animate-caret {
  animation: caret 1000ms infinite;
}

.animate .line.begin.html {
  grid-row: 1;
  overflow: hidden;
  animation: type-html $html-duration steps($html-steps) $html-delay 1 normal both, caret $caret-duration steps(2) $html-delay $html-steps-caret;
}
@keyframes type-html {
  from{width: $html-from-width;}
  to{width: $html-to-width;}
}

.animate .line.begin.head {
  grid-row: 2;
  overflow: hidden;
  animation: type-head $head-duration steps($head-steps) $head-delay 1 normal both, caret $caret-duration steps(2) $head-delay $head-steps-caret;
}
@keyframes type-head {
  from{width: $head-from-width;}
  to{width: $head-to-width;}
}

.animate .line.title {
  grid-row: 3;
  overflow: hidden;
  animation: type-title $title-duration steps($title-steps) $title-delay 1 normal both, caret $caret-duration steps(2) $title-delay $title-steps-caret;
}
@keyframes type-title {
  from{width: $title-from-width;}
  to{width: $title-to-width;}
}
.animate .line.end.head {
  grid-row: 4;
  overflow: hidden;
  animation: type-head-end $head-end-duration steps($head-end-steps) $head-end-delay 1 normal both, caret $caret-duration steps(2) $head-end-delay $head-end-steps-caret;
}
@keyframes type-head-end {
  from{width: $head-end-from-width;}
  to{width: $head-end-to-width;}
}
.animate .line.begin.body {
  grid-row: 5;
  overflow: hidden;
  animation: type-body $body-duration steps($body-steps) $body-delay 1 normal both, caret $caret-duration steps(2) $body-delay $body-steps-caret;
}
@keyframes type-body {
  from{width: $body-from-width;}
  to{width: $body-to-width;}
}
.animate .line.body.text {
  grid-row: 6;
  overflow: hidden;
  animation: type-body-text $body-text-duration steps($body-text-steps) $body-text-delay 1 normal both, caret $caret-duration steps(2) $body-text-delay $body-text-steps-caret;
}
@keyframes type-body-text {
  from{width: $body-text-from-width;}
  to{width: $body-text-to-width;}
}
.animate .line.end.body {
  grid-row: 7;
  overflow: hidden;
  animation: type-body-end $body-end-duration steps($body-end-steps) $body-end-delay 1 normal both, caret $caret-duration steps(2) $body-end-delay $body-end-steps-caret;
}
@keyframes type-body-end {
  from{width: $body-end-from-width;}
  to{width: $body-end-to-width;}
}
.animate .line.end.html {
  grid-row: 8;
  overflow: hidden;
  animation: type-html-end $html-end-duration steps($html-end-steps) $html-end-delay 1 normal both, caret $caret-duration steps(2) $html-end-delay $html-end-steps-caret;
}
@keyframes type-html-end {
  from{width: $html-end-from-width;}
  to{width: $html-end-to-width;}
}

.people.head {
  bottom: 90px;
  left: 575px;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background: #eee;
}

.people.head .eyes {
  top: 58px;
  left: 30px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #444;
  box-shadow: 20px 0 0 #444;
}

.eyes.animate {
  animation: 10s eyes ease $eyes-delay;
}

@keyframes eyes {
  0% { transform: translate3d(0,0,0); }
  10% { transform: translate3d(0,-18px,0); }
  20% { transform: translate3d(0,-19px,0); }
  30% { transform: translate3d(0,0,0); }
  50% { transform: translate3d(0,-19px,0); }
  70% { transform: translate3d(0,-19px,0); }
  100% { transform: translate3d(0,0,0); }
}

.people.body {
  bottom: -20px;
  left: 578px;
  width: 82px;
  height: 110px;
  border-radius: 0 0 50% 50%;
  background: #045490;
}

.people.body .right-arm {
  left: 80px;
  height: 10px;
  background: #eee;
  box-shadow: 20px 0 0 #eee;
  z-index: 1;
}

.people.body .right-arm .sleeve {
  height: 100%;
  width: 100%;
  background: #3394DD;
}

.wave {
  transform-origin: left center;
  animation: 3s wave ease $wave-delay;
}

@keyframes wave {
  0% { width: 0%; transform: rotate(0deg); }
  10% { width: 100%; transform: rotate(-45deg); }
  30% { width: 100%; transform: rotate(-90deg); }
  50% { width: 100%; transform: rotate(-45deg); }
  70% { width: 100%; transform: rotate(-90deg); }
  90% { width: 100%; transform: rotate(-45deg); }
  100% { width: 0%; transform: rotate(0deg); }
}

.table {
  bottom: 15px;
  left: 280px;
  width: 500px;
  height: 15px;
  background: #444;
}

.table:before,
.table:after {
  top: 15px;
  width: 10px;
  height: 20px;
  border-top: 3px solid #aaa;
  background: #eee;
}

.table:before { left: 20px; }
.table:after { right: 20px; }

.laptop {
  bottom: 35px;
  left: 550px;
  width: 140px;
  height: 70px;
  border-radius: 2px 2px 0 0;
  background: #ddd;
  z-index: 2;
}

.laptop:before {
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  margin: -9px 0 0 -9px;
  border-radius: 50%;
  background: #fff;
}

.laptop:after {
  top: 70px;
  left: -5px;
  width: 150px;
  height: 5px;
  border-radius: 2px 2px 0 0;
  background: #888;
}

.mouse {
  bottom: 30px;
  left: 510px;
  width: 20px;
  height: 6px;
  border-bottom: 2px solid #888;
  border-radius: 25%;
  background: #ddd;
}

.notes {
  bottom: 30px;
  left: 705px;
  width: 60px;
  height: 12px;
  background: #fff;
  border: 4px solid #222;
  border-radius: 4px;
  border-left: 0;
}

.lamp {
  bottom: 30px;
  left: 410px;
  width: 40px;
  height: 20px;
  border-radius: 80px 80px 0 0;
  background: #eee;
}

.lamp:before,
.lamp:after {
  z-index: -1;
  width: 6px;
  height: 80px;
  background: #ccc;
}

.lamp:before { top: -70px; left: 8px; transform: rotate(-15deg); }
.lamp:after { top: -108px; left: 30px; transform: rotate(75deg) }

.lamp .top {
  top: -75px;
  left: 45px;
  width: 50px;
  height: 25px;
  border-radius: 100px 100px 0 0;
  background: #eee;
  transform: rotate(-15deg);
}

.headphones {
  bottom: 85px;
  left: 563px;
  width: 110px;
  height: 100px;
  border-radius: 50%;
  border-top: 10px solid #444;
}

.headphones:before,
.headphones:after {
  width: 20px;
  height: 40px;
  top: 20px;
  background: #FFBB54;
}

.headphones:before {
  left: -8px;
  border-radius: 80px 0 0 80px;
  border-right: 3px solid #444;
}

.headphones:after {
  right: -7px;
  border-radius: 0 80px 80px 0;
  border-left: 3px solid #444;
}

.trash {
  bottom: 10px;
  left: 20px;
  width: 100px;
  height: 8px;
  background: #444;
}

.trash:after {
  top: 8px;
  left: 3px;
  width: 94px;
  height: 25px;
  border-radius: 0 0 50px 50px;
  background: #555;
}

.trash .paper {
  z-index: -1;
  width: 25px;
  height: 50px;
  border: 2px solid #555;
  background: #ddd;
}

.trash .paper.p1 {
  top: -15px;
  left: 10px;
  transform: rotate(-20deg);
}

.trash .paper.p2 {
  top: -12px;
  left: 30px;
  transform: rotate(-40deg);
}

.trash .paper.p3 {
  top: -15px;
  left: 60px;
  transform: rotate(10deg);
}

.trash .paper.p4 {
  top: -12px;
  left: 30px;
  transform: rotate(65deg);
}

footer {
  background: #4d4d4d;
  bottom: 0;
  color: #fff;
  display: flex;
  flex-direction: row;
  font-family: 'Roboto Mono', monospace;
  justify-content: space-between;
  height: $footer-size;
  left: 0;
  margin-top: -$footer-size;
  padding: 0 10px;
  position: absolute;
  width: 100vw;

  .credits {
    line-height: 1.5;
    padding-top: 3px;
  }

  .credits a {
    color: #009AEE;
  }

  .social ul {
    display: grid;
    grid-column-gap: 12px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
  }
}

.social ul {
  height: 100%;
  list-style: none;

  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  a {
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: $footer-size / 2;
    width: $footer-size / 2;
  }
}

.codepen a { background-image: url('../assets/social/codepen.svg'); }
.facebook a { background-image: url('../assets/social/facebook.svg'); }
.github a { background-image: url('../assets/social/github.svg'); }
.instagram a { background-image: url('../assets/social/instagram.svg'); }
.linkedin a { background-image: url('../assets/social/linkedin.svg'); }
.mail a { background-image: url('../assets/social/mail.svg'); }
.twitter a { background-image: url('../assets/social/twitter.svg'); }
