@import "_html5-boilerplate";
@import "_banner";
@import "_header";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:before, *:after {
  content: '';
  display: block;
  position: absolute;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

body {
  // background: #d93;
}

.page-section {
  position: relative;
  height: $page-height;
  width: $page-width;
}
